<div class="note-edit-block d-flex d-none align-items-center">
  <input class="me-auto" type="text" value="<%= title %>" name="title" />
  <button class="btn btn-success me-1" data-type="edit-save" data-id="<%= id %>">Сохранить</button>
  <button class="btn btn-danger" data-type="edit-cencel">Отменить</button>
</div>
